* {
    box-size:border-box;
    
  }
  
  body {
    margin:0;
    background:rgb(20, 20, 20);
    color:#fff;
  }
  
  /* Header Styles */
  
  header {
    background:#333;
    font: 100 1rem/1.2 sans-serif;
   
    
  }
  
  .logo-combo {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
  }
  
  .logo {
    margin-left: 0;
    display:block;
    margin-right:2rem;
    max-width: 15%;
    width: 15%;
    
  }
  
    

  header h1 {
    color:#cba;
    margin: auto;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }
  
  nav {
    background:#222;
  }
  
  nav ul {
    display:flex;
    list-style:none;
    justify-content:space-between;
    padding:0;
    margin:0;
  }
  
  nav a {
    display:block;
    margin:1rem;
    color:white;
    text-decoration:none;
  }
  
  
  /* Main Layout */
  
  main  h1 {
    margin:0;
    font-size:2rem;
    color: rgb(240, 182, 22);
   text-align: center;
  }
  
  main img {

    object-fit:cover;
    width:100%;
    height: 100%;
   }
  
  
  /* The magic happens here - mostly explictly  */
  main {
    display:grid;
    grid-gap: .5rem;
grid-template-columns: .5fr 1fr 1fr .5fr;
grid-template-rows: 350px .5fr 350px;


  }
  .text{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    justify-content:stretch;
      padding:2px;
      
  }
  .textgrid{
    display:grid;
    grid-gap: .2em;
  grid-template-columns: 1fr 2fr 1fr;
grid-template-rows: 300px 1fr;

  }
  /*.aboutys{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding:1em;
  }*/
  .wildlife{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  justify-items:stretch;
  padding: 1px;

  }
   .aboutys{
     display:grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-content: space-evenly;
    /*justify-items:stretch;*/
    padding: 1em;

   }
  /* .wildlife img{
     display: grid;
     justify-content:space-between;
     justify-items:center;
     padding: 1.5em;
    
     
   }*/
   .wildlife img{
   object-fit:cover;
    width:100%;
    height: 100%;
   }
   .i{
     
     grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
     justify-content: space-between;
     justify-items:stretch;
     padding: 1em;
     
   }
   .j{
    grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
    justify-content: space-between;
   
    padding: .2em;
    
  }
  .k{
    grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
    justify-content: space-between;
    justify-items: center;
    padding: .2em;
    
  }

.i, .j, .k{
  padding: 1rem;
  width:80%;
  height: 25%;
  

}

   .c{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  justify-content:space-evenly;
    padding:2px;
    padding-top: .5em;
   
   }
    .d{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
    justify-content:space-evenly;
      padding:2px;
      padding-left: .5em;

    }
  

  .a  {
 padding-left: .5em;
 padding-top: .5em;
  }
 .b{
  padding-top: .5em;
}

.c ,.e, .i{
  padding-right: .5em;
}
.h{
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 3;
padding-right: .5em;

}

footer{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: #333; 
    color: #cba;
   /* margin: 1rem;*/
    padding: .5em; 
    margin: 7px;
  } 


.foot{

   
    font-size: 1em;
    justify-content: space-evenly;
    padding: .5rem;;

}
   /* grid-template-areas: 
    "a b c d" 
    "e f f g" 
    "h i j k"; 
  }/
  
 /* .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .e {
    grid-area: e;
  }
  .f {
    grid-area: f;
    padding:1rem;
    /*transform: rotate(-5deg);*/
 /* }
  .g {
    grid-area: g;
  }
  .h {
    grid-area: h;
  }
  .i {
    grid-area: i;
  }
  .j {
    grid-area: j;
  }
  .k {
    grid-area: k;
  } */